{% extends 'layout.html' %}
{% block title %}
  Devices
{% endblock %}
{% block bacons %}
    
<br><br>
<nav>
  <div class="container">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Beacons:</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Wifi:</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile1" role="tab" aria-controls="nav-profile1" aria-selected="false">Whitelisted Beacons:</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active container" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
<div class="container" style="min-height:100% width:80%" id="alert_message">
  {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-success at-{{category}}" role="alert">
      <b>{{message}}</b>
    </div>
  {% endfor %}

</div>
<br>
<form action="/scan_ble">
<button type="submit" value="" class="btn btn-primary">Scan BLE <i class="fas fa-search"></i></button><br><br>
</form>
  <div id="datahtml"  style="display: none">{{data}}</div>
  <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">UUID</th>
            <th scope="col">MAC:</th>
            <th scope="col">RSSI</th>
            <th scope="col">MAJ/MIN</th>
            <th scope="col">ADV</th>
            <th scope="col">TX</th>
            <th scope="col">ADD</th>
        </tr>
      </thead>

      <tbody id='td_content'>
      
          <!-- {{ data[0] }} -->
    </tbody>
  </table>

  </div>


  <div class="tab-pane fade container" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <br>
    <button type="submit" value="Login" class="btn btn-primary">Scan Wifi <i class="fas fa-search"></i></button>
    <br>
    <br>
  <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">SR No:</th>
            <th scope="col">MAC:</th>
            <th scope="col">TIME</th>
            <th scope="col">RSSI</th>
            <th scope="col">DEL</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">01</th>
        <td>
          <p class="badge badge-light">00000001</p>
        </td>
        <td>
          <p class="badge badge-light">7294:23:34:23:34"</p>
        </td>
        <td>
          <p class="badge badge-light">03:45:09</p>
        </td>
        <td>
          <p class="badge badge-light">-87</p>
        </td>
        <td><a href="#" class="badge badge-danger"><i class="far fa-trash-alt fa-2x"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>

  <div class="tab-pane fade container" id="nav-profile1" role="tabpanel" aria-labelledby="nav-profile-tab1">
    <br>
    <form method="POST" action="/blk_list">
      <input type="text" name="blacklisted" class="form-control" placeholder="Mac Address" required><br>
      <input type="hidden" name="tab" value="nav-profile1">
      <button type="submit" value="Login" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <br>
  <table class="table table-hover">
    <thead>
      
        <tr>
            <th scope="col">#</th>
            <th scope="col">MAC:</th>
            <th scope="col">DEL</th>
        </tr>

      </thead>
      <tbody>
        {% for i in blk_ble %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>
            <p class="badge badge-light">{{ i }}</p>
          </td>
          <td><a href="/blk_del/{{ i }}" class="badge badge-danger"><i class="far fa-trash-alt fa-2x"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>



<script type="text/javascript">


function addMac(){
    var data1 = $('form').serialize();
    var mac = document.getElementsByName("blacklisted");
    $.ajax({
        url: '/blk_list',
        type: 'POST',
        data: data1,
        success: function (response) {
            alert(response.status);
        },
        error: function () {
            alert("error");
        }
    }); 
  }


var a = document.getElementById('datahtml').innerHTML
var b = $.parseJSON( a ); 
for(var i=0;i<b.length;i++){
	var x  =b[i]
	let y =  x.replace(/\'/g,'"');
	var c = $.parseJSON(y); 
	var order = i+1;
	var num = (c.mac || 0).toString();
    var result = '';
    while (num.length > 2) {
        result = ':' + num.slice(-2) + result;
        num = num.slice(0, num.length - 2);
    }
    if (num) { result = num + result; }
	$('#td_content').append("<tr><td scope='col'><p class='badge badge-light'>"+order+"</p></td><td scope='col'><p class='badge badge-light'>"+c.uuid+"</p></td><td scope='col'><p class='badge badge-light'>"+result+"</p></td><td scope='col'><p class='badge badge-light'>"+c.rssi+"</p></td><td scope='col'><p class='badge badge-light'>"+c.maj+"|"+c.mina+"</p></td><td scope='col'><p class='badge badge-light'>"+c.adv+"</p></td><td scope='col'><p class='badge badge-light'>"+c.tx+"</p></td><td scope='col'><a href='/white_list_get/"+c.mac+"' class='badge badge-success'>White List</a></td></tr>")
}
</script>
</div>
{% endblock %}



