<div class="container">
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-6 logo1 align-middle">
                    <img src="{{ url_for('static', filename='images/logo1.png') }}" >
                </div>
                <div class="col-3">
                    <h3><p>Contact</p></h3>
                    <ul>
                        <li><h6><a class="mail faa-horizontal animated-hover" href="mailto:someone@example.com?Subject=Hello%20again" target="_top"><i class="fas fa-envelope faa-horizontal animated-hover"></i>  Send Mail<h6></a></li>
                        <li><h6>ADDRESS:</h6></li>
                        <li>Qianjin daj ie, Chaoyang qu Changchun JILIN, CHINA</li>
                    </ul>
                </div>
                <div class="col-3" id="footer_navi">
                    <p>LINKS</p>
                    <ul>
                        <li> <h6> <a href="/dashboard">Home </a></h6></li>
                        <li> <h6> <a href="/console-logs">Logs</a></h6></li>
                        <li> <h6> <a href="/devices">Devices</a></h6></li>
                        <li> <h6> <a href="/network">Network</a></h6></li>
                        <li> <h6> <a href="/settings">Settings</a></h6></li>
                    </ul>
                </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
                          
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left copyright"> Copyright © SkyCloud 2020. All right reserved. </p>
       
        </div>
    </div>
    <!--/.footer-bottom--> 

</footer>
</div>