<!-- layout.html -->
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %} - SkyCloud Web</title>
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-4.4.1/js/jquery-3.4.1.slim.min.js') }}" ></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-4.4.1/js/popper.min.js') }}" ></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.4.1/css/bootstrap.min.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-4.4.1/js/bootstrap.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/font-awesome-animation.min.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='fontawesome/js/all.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>

  <script type="text/javascript">


  setInterval(function(){
      $.ajax({
            url: '/status',
            type: "post",
       
            success: function (m) {
              console.log(m);
              if(m == 'connected'){
                var $label = $("#my-div label");
                var text = $label.text();
                console.log(text)
                $label.html("<span class='badge badge-danger'><i class='fa fa-heart faa-flash animated fa-1x' aria-hidden='true' ></i></span>"); 
              }
              else{
                var $label = $("#my-div label");
                var text = $label.text();
                console.log(text)
                $label.html("<span class='badge badge-secondary'><i class='fa fa-heart faa-flash fa-1x' aria-hidden='true' ></i></span>"); 
              }
}

      });
      //$('table #tm').load('/status');
 },1000);






</script>












</head>
<body>
  <dir class="container" id="_body">
    {% include 'nav_bar.html' %}
    {% block content %}{% endblock %}
    {% block consol %}{% endblock %}
    {% block bacons %}{% endblock %}
    {% block config %}{% endblock %}
    {% block editProfile %}{% endblock %}
    {% block updatefirmware %}{% endblock %}
    {% block baconInfo %}{% endblock %}
    {% block network %}{% endblock %}

    {% include 'footer.html' %}
  </dir>
</body>
</html>