
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="_nav">
    <a class="navbar-brand" href="#">SKYCLOUD</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/console-logs">Logs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/devices">Devices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/network">Network</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/settings">Settings</a>
        </li>

      </ul>
      <div id="my-div"><label class="badge badge-light"><i class="fa fa-spinner faa-spin animated fa-1x" aria-hidden="true"></i></label></div>
      <a class="nav-link" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
    </div>
  </nav>




