{% extends 'layout.html' %}

{% block network %}
    
<br><br>
<nav>
  <div class="container">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Wifi Sniffer</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Bluetooth Sniffer</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active container" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
<div class="container" style="min-height:100% width:80%" id="alert_message">
  {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-success at-{{category}}" role="alert">
      <b>{{message}}</b>
    </div>
  {% endfor %}

</div>
<!-- HIDDEN TABS -->
<div class="tab-content" id="nav-tabContent">
  <!-- TAB ONE -->
    <div class="tab-pane fade container" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="form-group"><br>
      <form class="container" action = "/network" method = "POST">
        <div class="form-row">
          <div class="form-group form-check">
            {% if d1['heart_beat'] == 'on' %}
              <input type="checkbox" class="form-check-input" id="ble_hb" checked onclick="ble_heartbeat()">
            {% elif d1['heart_beat'] == 'off' %}
              <input type="checkbox" class="form-check-input" id="ble_hb" onclick="ble_heartbeat()">
            {% endif %}
            <label class="form-check-label" for="exampleCheck1">Enable Heartbeat</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group form-check">
            <input type="hidden" name="heart_beat" class="form-check-input" id="ble_hb_val" value="{{ d1['heart_beat'] }}" required>
          </div>
        </div>
        <h5><span class="badge badge-light">Serial No.</span></h5>
        <div class="form-row">
          <div class="col-xs-6">
            <input type="text" name="serial_no" class="form-control" placeholder="heartbeat server ip" value="{{ d1['serial_no'] }}" required>
          </div>
        </div><br>
        <div class="form-row">
          <div class="form-group form-check">
            {% if d1['enable_post_data'] == 'on' %}
              <input type="checkbox" class="form-check-input" id="ble_post" checked onclick="ble_post1()">
            {% elif d1['enable_post_data'] == 'off' %}
              <input type="checkbox" class="form-check-input" id="ble_post" onclick="ble_post1()">
            {% endif %}
            <label class="form-check-label" for="exampleCheck1">Enable post data</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group form-check">
            <input type="hidden" name="enable_post_data" class="form-check-input" id="ble_post_val" value="{{ d1['enable_post_data'] }}" required>
          </div>
        </div>
        <h5><span class="badge badge-light">Server Socket:</span></h5>
        <div class="form-row">
          <div class="col-xs-5">
            <input type="text" name="server_socket" class="form-control" placeholder="server address" value="{{ d1['server_socket'] }}" required>
          </div>
        </div><br>
        <div class="form-row">
          <div class="col-xs-5">
            <input type="hidden" name="sniffer_type" value="IBeacon" class="form-control" placeholder="Cache Size">
          </div>
        </div>
        <h5><span class="badge badge-light">Cache Size:</span></h5>
        <div class="form-row">
          <div class="col-xs-5">
            <input type="text" name="cache_size" class="form-control" placeholder="Cache Size" value="{{ d1['cache_size'] }}" required>
          </div>
        </div><br>
        <h5><span class="badge badge-light">RSSI Range</span></h5>
        <div class="form-row">
          <div class="col-xs-5">
            <input type="text" name="rssi_range" class="form-control" placeholder="RSSI Range" value="{{ d1['rssi_range'] }}" required>
          </div>
        </div><br>
        <h5><span class="badge badge-light">Data Interval:</span></h5>
        <div class="form-row">
          <div class="col-xs-5">
            <input type="text" name="data_interval" class="form-control" placeholder="Data Transmission Interval" value="{{ d1['data_interval'] }}" required>
          </div>
        </div><br>
        <div class="form-row">
          <div class="form-group col-md-5">
            <h5><span class="badge badge-light">Protocol:</span></h5>
            <select name="protoc" id="inputState" class="form-control" required>
              <option selected>{{ d1['protoc'] }}</option>
              <option>MQTT</option>
               <option>HTTP</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Apply & Save</button><br>
      </form>
    </div>
  </div>
  <!-- TAB TWO -->
  <div class="tab-pane fade show active container" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="form-group"><br>
      <form class="container" action = "/network" method = "POST">
        <div class="form-row">
          <div class="form-group form-check">
            {% if d2['w_heart_beat'] == 'on' %}
              <input type="checkbox" class="form-check-input" id="wifi_hb" checked onclick="wifi_heartbeat()">
            {% elif d2['w_heart_beat'] == 'off' %}
              <input type="checkbox" class="form-check-input" id="wifi_hb" onclick="wifi_heartbeat()">
            {% endif %}
            <label class="form-check-label" for="exampleCheck1">Enable Heartbeat</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group form-check">
            <input type="hidden" name="w_heart_beat" class="form-check-input" id="wifi_hb_val" value="{{ d2['w_heart_beat'] }}" required>
          </div>
        </div>
        <h5><span class="badge badge-light">Serial No.</span></h5>
        <div class="form-row">
          <div class="col-xs-6">
            <input type="text" name="w_serial_no" class="form-control" placeholder="heartbeat server ip" value="{{ d2['w_serial_no'] }}" required>
          </div>
        </div><br>
        <div class="form-row">
          <div class="form-group form-check">
            {% if d2['w_enable_post_data'] == 'on' %}
              <input type="checkbox" class="form-check-input" id="wifi_post" checked onclick="wifi_post1()">
            {% elif d2['w_enable_post_data'] == 'off' %}
              <input type="checkbox" class="form-check-input" id="wifi_post" onclick="wifi_post1()">
            {% endif %}
            <label class="form-check-label" for="exampleCheck1">Enable post data</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group form-check">
            <input type="hidden" name="w_enable_post_data" class="form-check-input" id="wifi_post_val" value="{{ d2['w_enable_post_data'] }}" required>
          </div>
        </div>
        <h5><span class="badge badge-light">Server Socket:</span></h5>
        <div class="form-row">
          <div class="col-xs-5">
            <input type="text" name="w_server_socket" class="form-control" placeholder="server address" value="{{ d2['w_server_socket'] }}" required>
          </div>
        </div><br>
        <div class="form-row">
          <div class="col-xs-5">
            <input type="hidden" name="sniffer_type" value="Wifi" class="form-control" placeholder="Cache Size">
          </div>
        </div>
        <h5><span class="badge badge-light">Cache Size:</span></h5>
        <div class="form-row">
          <div class="col-xs-5">
            <input type="text" name="w_cache_size" class="form-control" placeholder="Cache Size" value="{{ d2['w_cache_size'] }}" required="">
          </div>
        </div><br>
        <h5><span class="badge badge-light">RSSI Range</span></h5>
        <div class="form-row">
          <div class="col-xs-5">
            <input type="text" name="w_rssi_range" class="form-control" placeholder="RSSI Range" value="{{ d2['w_rssi_range'] }}" required>
          </div>
        </div><br>
        <h5><span class="badge badge-light">Data Interval:</span></h5>
        <div class="form-row">
          <div class="col-xs-5">
            <input type="text" name="w_data_interval" class="form-control" placeholder="Data Transmission Interval" value="{{ d2['w_data_interval'] }}" required>
          </div>
        </div><br>
        <div class="form-row">
          <div class="form-group col-md-5">
            <h5><span class="badge badge-light">Protocol:</span></h5>
            <select name="w_protoc" id="inputState" class="form-control" required>
              <option selected>{{ d2['w_protoc'] }}</option>
              <option>MQTT</option>
               <option>HTTP</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Apply & Save</button><br>
      </form>
    </div>
  </div>
  <!--
  --------------------------------------------------------------------------------------------------------------
  <div class="tab-pane fade show active container" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="form-group"><br>
      <form class="container" action = "/network" method = "POST">
        <div class="form-row">
          <div class="form-group form-check">
            {% if d2['enable_post_data'] == 'on' %}
              <input type="checkbox" class="form-check-input" id="wifi_hb" checked onclick="wifi_heartbeat()">
            {% elif d2['enable_post_data'] == 'off' %}
              <input type="checkbox" class="form-check-input" id="wifi_hb" onclick="wifi_heartbeat()">
            {% endif %}
            <label class="form-check-label" for="exampleCheck1">Enable Heartbeat</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group form-check">
            <input type="hidden" name="hb_en" class="form-check-input" id="wifi_hb_val" value="{{ d2['hb_en'] }}">
          </div>
        </div>
        <div class="form-row">
          <div class="col-xs-6">
            <input type="text" name="wifi_hb_ip" class="form-control" placeholder="heartbeat server ip" value="{{ d2['wifi_hb_ip'] }}">
          </div>
        </div><br>
        <div class="form-row">
          <div class="form-group form-check">
            <input type="checkbox" name="wifi_en_post" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Enable post data</label>
          </div>
        </div>
        <div class="form-row">
          <div class="col-xs-5">
            <input type="text" name="wifi_server_add" class="form-control" placeholder="server address" value="{{ d2['wifi_server_add'] }}">
          </div>
        </div><br>
        <div class="form-row">
          <div class="col-xs-5">
            <input type="text" name="wifi_cache_size" class="form-control" placeholder="Cache Size"  value="{{ d2['wifi_cache_size'] }}">
          </div>
        </div><br>
        <div class="form-row">
          <div class="col-xs-5">
            <input type="text" name="wifi_whitelist_Mac" class="form-control" placeholder="white list" value="{{ d2['wifi_whitelist_Mac'] }}" >
          </div>
        </div><br>
        <div class="form-row">
          <div class="col-xs-5">
            <input type="text" name="wifi_rssi_range" class="form-control" placeholder="RSSI Range" value="{{ d2['wifi_rssi_range'] }}">
          </div>
        </div><br>
        <div class="form-row">
          <div class="col-xs-5">
            <input type="text" name="wifi_data_interval" class="form-control" placeholder="Data Transmission Interval" value="{{ d2['wifi_data_interval'] }}">
          </div>
        </div><br>
        <div class="form-row">
          <div class="col-xs-5">
            <input type="hidden" name="con_type" value="wifi" class="form-control" placeholder="Cache Size" value="{{ d2['con_type'] }}">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="inputState">Protocol</label>
            <select id="inputState" name="wifi_proto" class="form-control">
              <option selected>{{ d2['wifi_proto'] }}</option>
              <option>-----</option>
              <option>MQTT</option>
              <option>HTTP</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Apply & Save</button><br>
      </form><br>
    </div>
  </div>
-->
</div>


<script type="text/javascript">
function wifi_heartbeat() {
  console.log("this is the test...")
  var av=$('#wifi_hb').is(':checked');
  console.log(av);
  if(av == true){
     $("#wifi_hb_val").val("on");
     console.log(document.querySelector('#wifi_hb_val').value);
  }
  else{
    $("#wifi_hb_val").val("off");
  }
}

function ble_heartbeat() {
  console.log("this is the test...")
  var av=$('#ble_hb').is(':checked');
  console.log(av);
  if(av == true){
     $("#ble_hb_val").val("on");
     console.log(document.querySelector('#ble_hb_val').value);
  }
  else{
    $("#ble_hb_val").val("off");
  }
}

function ble_post1() {
  console.log("this is the test...")
  var av=$('#ble_post').is(':checked');
  console.log(av);
  if(av == true){
     $("#ble_post_val").val("on");
     console.log(document.querySelector('#ble_post_val').value);
  }
  else{
    $("#ble_post_val").val("off");
  }
}

function wifi_post1() {
  console.log("this is the test...")
  var av=$('#wifi_post').is(':checked');
  console.log(av);
  if(av == true){
     $("#wifi_post_val").val("on");
     console.log(document.querySelector('#wifi_post_val').value);
  }
  else{
    $("#wifi_post_val").val("off");
  }
}



</script>
{% endblock %}



